<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Are you sure?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnCancel" data-dismiss="modal">Close</button>
                <button id="btnDelete" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>