
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->



        <li class="nav-item">
            <a href="~/Person/Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    People
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="~/Category/Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Categories
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="~/Author/Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Authors
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/gallery.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Books
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/gallery.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Posts
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="~/Role/Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Roles
                </p>
            </a>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Configurations
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="pages/charts/chartjs.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Menus</p>
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item">
            <a href="pages/gallery.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Log out
                </p>
            </a>
        </li>




    </ul>
</nav>
