
@{
    ViewBag.Title = "DefaultUser";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div>
    <div>
        <h2>Dear @ViewBag.UserName,</h2>
        <h3>after your role is assigned, you will be able to access the system.</h3>
    </div>
 
</div>

