
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}

<html>
<head>
    <meta charset="utf-8">
    <title>The page you’re looking for can’t be found</title>

 
</head>
</html>

