
@{
    ViewBag.Title = "Page500";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<section class="content">
    <div class="error-page">
        

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! This page isn't working.</h3>
           
        </div>
    </div>


</section>

